/**
 * 7.3.16 - Why Choose us
 */

 .why-choose-us-section {
 	.hentry-inner {
 		position: relative;

 		.post-thumbnail {
 			margin-bottom: 0
 		}

 		.entry-container {
		    padding: 21px 30px;
		    position: relative;
 		}
 	}
 }