

$theme-background-color : (

    background-primary-color: #fff,

    background-secondary-color: #eef2f8,

    background-tertiary-color: #252525,

);

$theme-color: (

    primary-color: #666666,

    header-color: #000000,

    theme-heading-color: #111111,

    theme-link-color: #fa7268,

    secondary-link-color: #999999,

    tertiary-link-color: #ffffff,

    theme-link-hover-color: #000000,

    color-white-light: #fff, // ffff

    quote-color: #333333,

    theme-primary-border-color: #ebebeb, //#ebebeb

    theme-secondary-border-color: #383838, //#ebebeb

);

$button-color: (
 
    background-button: #222222,

    button-text-color: #fff,

    button-hover-text-color: #fff,

    background-hover-button: #ef3636,
    
);